{% extends "layout.html" %}s
{% block body %}
<div class="col-lg-12">
    {% from "_formhelpers.html" import render_field %}
    <form action="{{ url_for('add', item=item) }}" class="form" method="POST">
        {% for field in form %}
        <div class="form-group">
            {{ render_field(field) }}
        </div>
        {% endfor %}
        <input type="submit" value="Register">
    </form>
</div>

{% if brand is not none: %}
<script>
    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;
            // an array that will be populated with substring matches
            matches = [];
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');
            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });
            cb(matches);
        };
    };
    var select_from = {{ select_from | safe }}
    select_from = Object.keys(select_from)
    $('#brand').typeahead({
                hint: true,
                highlight: true,
                minLength: 1,
             name: 'brand',
                source: substringMatcher(select_from)
            });


</script>
{% endif %}
{% endblock %}
