{% extends "layout.html" %}
{% block body %}
<script>
    var num_components = 0;
    var product = "{{ product.id_ }}";
    var product_name = "{{ product.name }}";
</script>
<div class="col-lg-12 col-md-12 col-xs-12">
    <h1 class="page-header">{{ product.name }}</h1>
</div>

<div class="col-lg-6 col-md-6 col-xs-12">
    <img src="{{ product.image }}" class="img-responsive" alt="Responsive image">
</div>

<div class="col-lg-6 col-md-6 col-xs-12">
    <dl class="dl-horizontal">
        <dt>Tipo de producto</dt><dd>{{product.type_}}</dd>
        <dt>Unidad de medida</dt><dd>{{product.unit}}</dd>
        <dt>Marca</dt><dd>{{product.brand}}</dd>
        <dt>Descripción</dt><dd>{{product.description}}</dd>
        <dt>Tiempo de producción</dt><dd>{{product.production_time}}</dd>
        <dt>Color</dt><dd>{{product.color}}</dd>
        <dt>Forma</dt><dd>{{product.forma}}</dd>
        <dt>Cantidad en stock</dt><dd>{{product.current_quantity}}</dd>
        <dt>Precio de venta</dt><dd>{{product.current_selling_price}}</dd>
    </dl>
</div>

<div class="col-lg-6 col-md-6 col-xs-12">
    <div class="panel-group" id="components_list" role="tablist" aria-multiselectable="true">
    </div>

    <button class="btn btn-primary" type="submit" id="add_component" onclick="loadForm('components_list', product, product_name)">Agregar</button>
</div>
{% endblock %}
